/* base.css */

/* Reset de estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #121212; /* Fondo oscuro */
  color: #e0e0e0; /* Texto claro */
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
